@inject TodoClient Client
@using BadIdeas.FontAwesome.Icons

<div class="py-4 border-b border-slate-700 shadow-sm bg-slate-900 text-slate-50">
    <ul class="mx-auto container md:container-md flex flex-row px-2 md:px-0  items-center">
        <li class="flex-1"><h2 class="font-extrabold text-2xl md:text-3xl">Todo</h2></li>
        <li class="flex-initial"><Icon Item="@Regular.Lightbulb()" @onclick="@DarkModeClick" class="@LightbulbColors"></Icon> </li>
        <li class="flex-initial text-slate-400">Logged in as <strong>@CurrentUser</strong></li>
        <li class="flex-initial pl-2">
            <Button ButtonType="Button.Type.Primary" @onclick="@Logout">Logout</Button>
        </li>
    </ul>
</div>

@code {
    [Parameter][Required] public bool DarkMode { get; set; }
    
    [Parameter] public string? CurrentUser { get; set; }

    [Parameter]
    public EventCallback LoggedOut { get; set; }

    [Parameter]
    public EventCallback DarkModeChanged { get; set; }

    string Unlit = Monorail.CssClass("w-4 mr-4 fill-slate-400 hover:fill-sky-400");
    string Lit = Monorail.CssClass("w-4 mr-4 fill-yellow-400 hover:fill-amber-400");
    private string LightbulbColors =>  DarkMode ? Lit : Unlit;

    void HandleLogin(string newUsername)
    {
        CurrentUser = newUsername;
    }

    async Task Logout()
    {
        await LoggedOut.InvokeAsync();
    }

    async Task DarkModeClick()
    {
        await DarkModeChanged.InvokeAsync();
    }

}